{% extends "console/base.html" %}

{% block content %}
  <h3>All Pages</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Path</th>
        <th>Is Base Template</th>
        <th>Is Active</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      <tr>
        <td>{{ page.created }}</td>
        <td>{{ page.updated }}</td>
        <td>{{ page.key.id() }}</td>
        <td>{{ page.is_base_template }}</td>
        <td>{{ page.is_active }}</td>
        <td>
{#          TODO CHANGE THIS TO LINK TO EDIT PAGE PAGE WHICH DISPLAYS VERSION AND LETS YOU MAKE A #}
{#          NEW VERSION. PROBABLY CANT PREVIEW FROM HERE SINCE ONE PAGE CAN HAVE MANY ACTIVE VERSIONS#}
          <a href="/cor/console/pages/edit?path={{ page.key.id() }}">Edit</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  <br>
  <hr>


{#  TODO THIS IS THE CREATE NEW PAGE and first version PAGE!#}
{#  TODO ADD ALL REQUIRED PROPS HERE LIKE BASE, PARENT, CONTENT, #}
  <h3>Create a New Page</h3>
  <form method="post" action="/cor/console/pages/new" role="form">
      <div class="form-group">
{#        <fieldset>#}
{#          <legend>New Page Settings (One page has many versions)</legend>#}

          <h4 style="font-size: 14px">* What Kind of Page Is This?</h4>

{#          Uses some file bases#}
{#          Uses some DB templates#}
{#          Uses NO base template#}
{#          IS a base template#}

          {% for name, title in base_templates|dictsort %}
          <div class="radio">
            <label>
              <input type="radio" name="base_template" value="{{ name }}">{{ title }}
            </label>
          </div>
          {% endfor %}

          <div class="form-group">
            <label for="new_page_path">* URL Path (Ex. blog/about-us)</label>
            <input class="form-control" type="text" placeholder="* Path" name="path"
                 id="new_page_path">
          </div>

          <div class="form-group">
            <label for="new_page_title">* Title</label>
            <input class="form-control" type="text" placeholder="* Title" name="title"
                 id="new_page_title">
          </div>

          <div class="form-group">
            <label for="new_page_content">* Content</label>
            <textarea class="form-control" rows="8" placeholder="* Content" name="content"
                 id="new_page_content"></textarea>
          </div>

          <div class="form-group">
            <label for="new_page_notes">Private Page Notes (Internal notes about this page)</label>
            <textarea class="form-control" rows="4" placeholder="Private Revision Notes"
                      name="revision_notes" id="notes"></textarea>
          </div>

          <button type="submit" class="btn btn-default">Create and Edit</button><br>
            * = required
      </div>
    </form>
{% endblock %}
