{% extends "console/base.html" %}

{% block content %}

  <h3>Page ({{ page.key.id() }}) Properties</h3>
  <table class="table table-bordered table-hover" style="width: 450px">

      <tr>
          <th style="width: 190px">Path</th>
          <td>{{ page.key.id() }}</td>
      </tr>

      <tr>
          <th style="width: 120px">Created</th>
          <td>{{ page.created }}</td>
      </tr>

      <tr>
          <th style="width: 120px">Updated</th>
          <td>{{ page.updated }}</td>
      </tr>

      <tr>
          <th>Number of Versions</th>
          <td>{{ page.number_of_versions }}</td>
      </tr>

      <tr>
          <th>Active?</th>
          <td>{{ page.is_active }}</td>
      </tr>

      <tr>
          <th>Base Template?</th>
          <td>{{ page.number_of_versions }}</td>
      </tr>

      <tr>
          <th>Private Notes About This Page</th>
          <td>{{ page.private_notes }}</td>
      </tr>

  </table>


  <h3>All Versions Table</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Created</th>
        <th>Version #</th>
        <th>Title</th>
        <th>Base Template Name</th>
        <th>Preview</th>
        <th>Publish</th>
      </tr>
    </thead>
    <tbody>
      {% for version in versions %}
      <tr>
        <td>{{ version.created }}</td>
        <td>{{ version._version }}</td>
        <td>{{ version.title }}</td>
        <td>{{ version.base_template }}</td>
        <td>
          <a href="/{{ page.key.id() }}?version={{ version._version }}" target="_blank">Preview</a>
        </td>
        <td>pub</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <br>
  <hr>

  <h3>Create a New Version For This Page <strong>({{ page.key.id() }})</strong></h3>
  <form method="post" action="/cor/console/pages/version" role="form">
    <div class="form-group">

      <input type="hidden" value="{{ page.key.id() }}" name="path">

      <h4 style="font-size: 14px">* What Kind of Page Is This?</h4>

      {% for name, title in base_templates|dictsort %}
      <div class="radio">
        <label>
          {% if latest_version.base_template == name %}
          <input type="radio" name="base_template" value="{{ name }}" checked>{{ title }}
          {% else %}
          <input type="radio" name="base_template" value="{{ name }}">{{ title }}
          {% endif %}
        </label>
      </div>
      {% endfor %}

      <div class="form-group">
        <label for="new_page_title">* Title</label>
        <input class="form-control" type="text" placeholder="* Title" name="title"
               id="new_page_title" value="{{ latest_version.title }}">
      </div>

      <div class="form-group">
        <label for="new_page_content">* Content</label>
        <textarea class="form-control" rows="15" placeholder="* Content" name="content"
             id="new_page_content">{{ latest_version.content|e }}</textarea>
      </div>

      <div class="form-group">
        <label for="revision_notes">Private Revision Notes</label>
        <textarea class="form-control" rows="4" placeholder="Private Revision Notes"
                  name="revision_notes" id="revision_notes"></textarea>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" checked name="publish" value="true">Publish Now
        </label>
      </div>

      <button type="submit" class="btn btn-default">Save New Version</button><br>
        * = required
    </div>
  </form>

{% endblock %}
